<div class="container mt-5">
    <div class="row align-items-center">
      <div class="col-md-6" data-aos="fade-right">
        <h2><i class="bi bi-info-circle me-2"></i>À propos de nous</h2>
        <p>Bienvenue chez EngageBenevolaT, une organisation dédiée à connecter les bénévoles avec des causes qui comptent. Notre mission est de créer un impact positif dans les communautés locales et au-delà. Nous croyons en la force du bénévolat pour transformer des vies et inspirer le changement.</p>
        <p>Depuis notre création, nous avons aidé des milliers de bénévoles à trouver des missions qui correspondent à leurs passions et compétences. Que ce soit dans l'éducation, la santé, l'environnement ou l'aide alimentaire, nous offrons une plateforme pour que chacun puisse faire une différence.</p>
      </div>
      <div class="col-md-6 text-center" data-aos="fade-left">
        <img src="assets/images/image2.png" alt="Company Image" class="img-fluid rounded-circle">
      </div>
    </div>
  </div>
  