<div class="login-container">
  <h2>Connexion</h2>
  
  <!-- Champ Email -->
  <input type="email" [(ngModel)]="email" placeholder="Email" class="input-field">

  <!-- Champ Mot de passe avec icône -->
  <div class="password-container">
    <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" placeholder="Mot de passe" class="input-field">
    <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'" (click)="togglePasswordVisibility()"></i>
  </div>

  <!-- Bouton Se connecter -->
  <button (click)="login()" class="btn btn-primary">Se connecter</button>

  <!-- Lien vers l'inscription -->
  <p>Pas encore de compte ? <a routerLink="/register">S'inscrire</a></p>

  <!-- Connexion avec Google -->
  <button (click)="loginWithGoogle()" class="btn btn-google">
    <img src="assets/images/google-logo.png" alt="Google Logo" class="google-logo"> Se connecter avec Google
  </button>
</div>
