<!-- <app-login></app-login> -->
<!-- <app-register></app-register> -->
 <!-- <app-navbar></app-navbar>  -->
<!-- <app-home></app-home> -->

<!-- <router-outlet></router-outlet> -->
<!-- <app-footer></app-footer>   -->
<!-- <router-outlet></router-outlet> -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!-- <app-missions></app-missions> -->
<!-- <app-about></app-about> -->
<!-- <app-contact></app-contact>  -->
<!-- <app-profile></app-profile> -->
 <!-- <app-mission-list></app-mission-list> -->
 <!-- <app-mission-apply></app-mission-apply> -->
 <!-- <app-create-mission></app-create-mission> -->
 <!-- <app-dashboard></app-dashboard> -->
<app-footer></app-footer>
