
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
          <h3>{{ isEditMode ? 'Modifier la mission' : 'Créer une mission' }}</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="missionForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="title" class="form-label">Titre</label>
              <input id="title" formControlName="title" class="form-control" placeholder="Titre de la mission">
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea id="description" formControlName="description" class="form-control" placeholder="Description" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <label for="date" class="form-label">Date</label>
              <input type="date" id="date" formControlName="date" class="form-control">
            </div>

            <div class="mb-3">
              <label for="time" class="form-label">Heure</label>
              <input type="time" id="time" formControlName="time" class="form-control">
            </div>
            
           
            
            <div class="mb-3">
              <label for="location" class="form-label">Lieu</label>
              <input id="location" formControlName="location" class="form-control" placeholder="Lieu">
            </div>
            <div class="mb-3">
              <label for="organizer" class="form-label">Organisateur</label>
              <input id="organizer" formControlName="organizer" class="form-control" placeholder="Nom de l'ONG ou de la personne">
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary w-100">
                {{ isEditMode ? 'Appliquer la modification' : 'Créer la mission' }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



  <!-- <form [formGroup]="missionForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="title">Titre</label>
      <input id="title" formControlName="title" placeholder="Titre de la mission">
    </div>
    <div>
      <label for="description">Description</label>
      <textarea id="description" formControlName="description" placeholder="Description"></textarea>
    </div>
    <div>
      <label for="date">Date</label>
      <input type="date" id="date" formControlName="date">
    </div>
    <div>
      <label for="location">Lieu</label>
      <input id="location" formControlName="location" placeholder="Lieu">
    </div>
    <button type="submit">
      {{ isEditMode ? 'Appliquer la modification' : 'Créer la mission' }}
    </button>
  </form>
   -->